* {
    box-sizing: border-box;
}

h1 {
    font-family: Verdana, sans-serif;
    font-size: 40px;
}
.accordion {
    margin: 20px 0;
    width: 1000px;
    margin: auto;
    /* z-index: 100; */
}

.accordion .accordion-body {
    margin: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height ease-in-out 500ms;
}

.accordion .accordion-body img {
    margin: auto;
    display: block;
    margin-bottom: 10px;
    width: 500px;
    height: 500px;
}

.accordion label {
    font-family: Verdana, sans-serif;  
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    display: block;
    padding: 25px 0;
    width: 100%;
    transition: ease-in-out 300ms;
    border-top: 1px solid gray;
}

.accordion input{
    display: none;
}

.accordion label::before {
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: -12px;
    content: '+';
    float: right;
    font-size: 30px;
    font-weight: 900;
    transition: opacity ease-in-out 300ms;
}

.accordion:hover label::before {
    visibility: visible;
    opacity: 1;
}

.accordion input:checked + label::before,
.accordion .accordion-item:hover label::before {
    transition: transform 300ms;
    transform: rotate(45deg);
}

.accordion input:checked + label + .accordion-body,
.accordion label:hover + .accordion-body,
.accordion .accordion-item:hover .accordion-body {
    height: 550px;
    padding: 20px 30px 10px;
    visibility:visible;
    cursor: pointer;
}